NEXT_PUBLIC_SUPABASE_URL="https://fmjxjaodsxodvsppzqhe.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtanhqYW9kc3hvZHZzcHB6cWhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2OTg0MDIsImV4cCI6MjA4MTI3NDQwMn0.elxhAG8GE-rYd41f9QbVJb62NL22oa0SjYjADlBDVBM"